.home-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.cover {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
  transition: -webkit-filter 2s, filter 2s;
}

.cover.unblur {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.television-container {
  transition: width 0.8s, max-height 1s, opacity 2s;
  overflow: hidden;
}

.home-television-wrapper {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

}

.home-television-wrapper.tv-hidden {
  .television-container {
    max-height: 0;
    opacity: 0;
  }

}

video {
  max-width: 500px;
  width: 100%;
}
